
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}


header {
    background-color: #D14D72;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FEF2F4;
    font-weight: bold;
}


.container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.left-content {
    flex: 1;
    padding: 20px;
}

.right-content {
    flex: 1;
    text-align: center;
}

.right-content img {
    max-width: 100%;
    height: 490px;
    border-radius: 5px;
}
.container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        
        
    background-image: url('2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
}

.container h2{
    color: #ff6b6b;
}
.container h3 {
    color: #ff6b6b;
    margin-top: 20px;
}

.container ul {
    list-style-type: none;
    padding-left: 20px;
}


.container h3 + p {
    margin-top: 10px;
    font-size: 18px;
}
p{
    align-self: left;
}
.container a {
    color: #D14D72;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    background-color: #FCC8D1;
    color: white;
    padding: 10px 0;
}
footer a {
    color: #D14D72; 
    text-decoration: none; 
    font-weight: bold; 
}

footer a:hover {
    text-decoration: underline; 
}



@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}
